
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Angela's Portfolio</title>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit:100" rel="stylesheet">
</head>


<body class="body body-home">
  <a href="#maincontent" class="skip">Skip navigation</a>
  <header>
    <nav id = "top-nav" class="top-nav">
      <div class="logo">
        <a href="index.html" class="logo-text">#DANCEMAP</a>
          </div>
            <ul class="no-back">
                <li><a href="index.html">Home</a></li>
                <li><a class="current-page" href="about.html">About</a></li>
                <li><a href="submit.html">Your Story</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
    </nav>
  </header>
 
  <section class="aboutbody" id="maincontent">
    <p class="intext">Welcome to <a class="intext" href='index.html'>#DANCEMAP</a>. Though powerful search engines allow us to get a feel for certain predominant ideas about dance, the global diversity of perspectives about what "dance" means is often lost or difficult to grasp. This website is designed to provide a lens into what people around the world are "saying" about dance in text, photos, and video. <a class="intext" href='submit.html'>Submit</a> your own dance media (text, photo, or video) to contribute to the evolving global story about dance! </p>
  </section>

  <section class="images">
    <img class=image3 src="images/dancemap_image5.jpg" alt="Dance of the Reindeer in Guatemala, danced by the Maya. Photo taken by Sailing Valentina">
  </section>

  <section class="images">
    <img class=image1 src="images/dancemap_image1.jpg" alt="Photo of dance taken by Rain Cyber on March 7, 2010">
  </section>

  <section class="images">
    <img class=image2 src="images/dancemap_image2.jpg" alt="Man dancing in Tehran. Photo taken by Payam Hamzei on April 26, 2014">
  </section>

  <footer class="footer">
    <p class="no-backp">This site was created by Angela Schöpke &copy; 2018</p>
  </footer>


</body>
</html>