<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Angela's Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.31.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.31.0/mapbox-gl.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit:100" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/responsive.css">
</head>


<body class="body body-home">
  <a href="#map" class="skip">Skip navigation</a>
  <header>
    <nav id = "top-nav" class="top-nav">
      <div class="logo">
        <a href="index.html" class="logo-text">#DANCEMAP</a>
          </div>
            <ul>
                <li><a class="current-page" href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="submit.html">Your Story</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
    </nav>
  </header>

  <div id='map'></div>
    <script>
      mapboxgl.accessToken = '{{ACCESS_KEY}}'
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/argrgn/cjg57m816k6vo2sqp9c284zkq'
      });

      var flickrJson = "https://agrgn42.github.io/dancemap/flickr.geojson"

      console.log(flickrJson)

      map.on('load', function () {
      map.addSource("flickr", {
          "type": "geojson",
          "data": flickrJson
          });

      map.addLayer({
          "id": "flickr",
          "type": "symbol",
          "source": "flickr",
          "layout": {
              "icon-image": "marker-11",
              "icon-allow-overlap": true
            }
          });
      });

      var twitterJson = "https://agrgn42.github.io/dancemap/twitter.geojson"

      console.log(twitterJson)

      map.on('load', function () {
      map.addSource("twitter", {
          "type": "geojson",
          "data": twitterJson
          });

      map.addLayer({
          "id": "twitter",
          "type": "symbol",
          "source": "twitter",
          "layout": {
              "icon-image": "marker-11-b",
              "icon-allow-overlap": true
            }
          });
      });

      var youtubeJson = "https://agrgn42.github.io/dancemap/youtube.geojson"

      console.log(youtubeJson)

      map.on('load', function () {
      map.addSource("youtube", {
          "type": "geojson",
          "data": youtubeJson
          });

      map.addLayer({
          "id": "youtube",
          "type": "symbol",
          "source": "youtube",
          "layout": {
              "icon-image": "marker-11-o",
              "icon-allow-overlap": true
            }
          });
      });


      // flickrJson.features.forEach(function(marker) {

      //     // create a HTML element for each feature
      //     var el = document.createElement('div');
      //     el.className = 'marker';

      //     // make a marker for each feature and add to the map
      //     new mapboxgl.Marker(el)
      //     .setLngLat(marker.geometry.coordinates)
      //     .addTo(map);
      //  });


      map.on('click', function(e) {
      var features = map.queryRenderedFeatures(e.point, {
        layers: ['flickr']
      });
      if (!features.length) {
        return;
      }
      var feature = features[0];
      var popup = new mapboxgl.Popup({ offset: [0, -15] })
        .setLngLat(feature.geometry.coordinates)
        .setHTML('<h3>' + feature.properties.Title + '</h3><h3><a class="maplink" href=' + feature.properties.Url + '>' +feature.properties.Url + '</a></h3>')
        .setLngLat(feature.geometry.coordinates)
        .addTo(map);
        $('h3').css({"font-family": "'Kanit', sans-serif", "font-size":"1.17em" });
      });

      map.on('click', function(e) {
      var features = map.queryRenderedFeatures(e.point, {
        layers: ['twitter']
      });
      if (!features.length) {
        return;
      }
      var feature = features[0];
      var popup = new mapboxgl.Popup({ offset: [0, -15] })
        .setLngLat(feature.geometry.coordinates)
        .setHTML('<h3>' + feature.properties.TweetText + '</h3><h3><a class="maplink" href=' + feature.properties.Url + '>' +feature.properties.Url + '</a></h3>')
        .setLngLat(feature.geometry.coordinates)
        .addTo(map);
        $('h3').css({"font-family": "'Kanit', sans-serif", "font-size":"1.17em" });
      });

      map.on('click', function(e) {
      var features = map.queryRenderedFeatures(e.point, {
        layers: ['youtube']
      });
      if (!features.length) {
        return;
      }
      var feature = features[0];
      var popup = new mapboxgl.Popup({ offset: [0, -15] })
        .setLngLat(feature.geometry.coordinates)
        .setHTML('<h3>' + feature.properties.Title + '</h3><h3><a class="maplink" href=' + feature.properties.Url + '>' +feature.properties.Url + '</a></h3>')
        .setLngLat(feature.geometry.coordinates)
        .addTo(map);
        $('h3').css({"font-family": "'Kanit', sans-serif", "font-size":"1.17em" });
      });



    </script>

  <div class="cover"></div>
  <div class="popup">
      <div>
      <p class='pintro-page'>Welcome to #DANCEMAP. Click markers on the map to see what people are "saying" about dance in photos! Follow the hyperlinks at each marker to see the photo from that location. Add your dance photo, video, or text to the map by submitting a story through the "Your Story" page! Click outside of this box to begin navigating the map.</p>
      </div>
  </div>

  <script>
    $(document).ready(function() {
        $(".popup").fadeIn(500);
        $(".cover").fadeIn(500);
    });
  
  $(".cover").click(function () {
      $(".popup").fadeOut(500);
      $(".cover").fadeOut(500);
  });
  </script>

  <footer>
    <p>This site was created by Angela Schöpke &copy; 2018</p>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</body>
</html>